*, **::before, 
    *::after {
    box-sizing: border-box;
}

:root {
  --fw-light: 300;
  --fw-normal: 400;
  --fw-semi: 500;
  --fw-bold: 700;
  --fs-h1: 1.25rem;
  --fs-h2: 1.75rem;
  --fs-h3: 2rem;
  --fs-body: 1rem;
  --fs-xl: 3rem;
  --clr-light: #fff;
  --clr-gray: #989898;
  --clr-dark: #444;
  --clr-accent: #a94e37;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    line-height: 1.6;           /* ? */
    background-image: url(lubo-minar.png);
    background-position: center;
    background-size: cover;
    color: var(--clr-light);    /* Sets the font to white */
    height: 100vh;              /* ? */
}

.App-logo {
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    position: absolute;
    top: calc(50% - 350px);
    left: calc(50% - 350px);
    width: 700px;
    height: 700px;
    border-radius: 50%;
    box-shadow:
      inset 0 0 50px #fff,
      inset 20px 0 80px #cb6613,
      inset -20px 0 80px #721c02,
      inset 20px 0 300px #721c02,
      inset -20px 0 300px #721c02,
      0 0 50px #e55c07,
      -10px 0 80px #721c02,
      10px 0 80px #fff;
}

.title-mars{
    font-size: 10rem;
    font-weight: var(--fw-normal);
    letter-spacing: 2px;
    left: 50.5%;
    margin: 0;
    position: absolute;
    top: 26%;
    transform: translateX(-50%) translateY(50%);
}

.sub-title {
    font-size: var(--fs-h2);
    font-weight: var(--fw-light);
    left: 50.5%;
    margin: 0;
    position: absolute;
    top: 54%;
    transform: translateX(-50%) translateY(50%);
}

.mars-weather {
    background: rgba(0, 0, 0, 0.5);
    padding: 2em;
    min-width: 300px;
    min-height: 1000px;
    display: grid;
    margin-left: 118em;    /* Probably not ideal */
    margin-right: 2em;
    margin-top: 0;
    margin-bottom: 0;
    grid-template-rows: (1, 6fr);
    grid-gap: 2em;
}

a {
    color: var(--clr-accent);
}

a:hover {
    color: var(--clr-accent);
}

.section-title {
    font-size: var(--fs-xl);
    font-weight: var(--fw-normal);
    margin: 0;
}

.date {
    grid-row: 1/2;
}

.section-title-date {
    font-size: var(--fs-xl);
}

.date-day {
    font-size: var(--fs-h3);
    margin: 0;
    margin-left: 2em;
    color: var(--clr-accent);
}

.temp {
    grid-row: 2/3;
    padding: 2em 0;
}

.reading {
    color: var(--clr-accent);
    margin: 0;
    margin-left: 2em;
    font-size: var(--fs-h2);
}

.pressure {
    grid-row: 3/4;
}

.info {
    grid-row: 4/5;
    font-size: var(--fs-h1);
}





